  .hanken-grotesk-700 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }   

  .syne-600 {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }


  html, body {
    font-family: "Hanken Grotesk", sans-serif;
    background: #FBFAFF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: #FBFAFF;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container a {
    display: flex;           
    align-items: center;     
    gap: 8px;   
    text-decoration: none;            
}

.logo-img {
    width: 2.5rem;
    height: auto;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #191A23;
    font-family: "Syne", sans-serif;
    text-decoration: none;
    line-height: 1;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 64px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1rem;
    color: #191A23;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #C1A5FF;
}

nav ul li a svg {
    display: block;
    flex-shrink: 0;
}

.dropdown {
    position: relative;
    list-style: none;
}

.dropbtn {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #191A23;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
}

.arrow-icon {
    width: 12px;
    height: auto;
    transition: transform 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 24px; 
    box-shadow: 24px 28px 92px 0px rgba(54, 17, 102, 0.12);
    z-index: 999;
    margin-top: 15px; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .arrow-icon {
    transform: rotate(180deg);
}

.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(2, 220px); 
    gap: 16px 24px;
}

.dropdown-grid a {
    text-decoration: none;
    color: #191A23;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500; 
    line-height: 26px;
    transition: color 0.2s ease;
}

.dropdown-grid a:hover {
    color: #C1A5FF; 
}

.contact-btn {
    padding: 16px 32px;
    background-color: transparent;
    color: #191A23;
    border: 1px solid #191A23;
    border-radius: 15px;
    font-size: 1.125rem;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #F7F2FF;
    border: 1px solid #B592FF;
    transition: all 0.3s ease;
}

.hero {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%; 
    gap: 8px;
    min-height: 100vh; 
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../assets/HeroPattern.svg"); 
    background-position: right center;
    background-size: 50%;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 0;
}

.hero-left-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 0;
    gap: 32px;
    max-width: 763px; 
    width: 100%;
    position: relative;
    z-index: 2;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.hero-text h1 {
    font-family: "Syne", sans-serif;
    font-size: 72px;
    color: #191A23;
    line-height: 88px;
    letter-spacing: -4%;
    width: auto;
    max-width: 608px;
    font-weight: 600;
    margin: 0;
}

.hero-text p {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #686A79;
    width: 440px;
    margin: 0;
}

.search-box {
    max-width: 763px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #191A23;
    border-radius: 15px;
    margin: 0;
}

.search-item {
    width: 170px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-icon {
    width: 40px;
    height: 40px;
    background-color: #E7DCFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191A2366;
}

.search-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.search-label {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #686A79;
    margin: 0;
}
.search-value {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #191A23;
    width: 100%;
    padding: 0;
    margin: 0;
}
.browse-btn {
    padding: 18px 40px;
    background-color: #191A23;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    font-size: 1.125rem;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
}
.browse-btn:hover {
    background-color: transparent;
    border: 1px solid #191A23;
    color: #191A23;
    transition: background-color 0.3s ease;
}

.hero-right-content {
    position: relative;
    margin: 0;
    width: 514px; 
    height: 528px; 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    z-index: 1;
}

.top-house_wrapper {
    position: absolute;
    max-width: 238px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 0;
}

.top-house_image {
    width: 100%;
    height: 256px; 
    border: 2px solid #191A23;
    border-radius: 40px 40px 32px 0; 
    overflow: hidden;
    z-index: 2; 
    position: relative;
}

.top-house_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    background-color: #191A23;
    color: white;
    padding: 20px;
    width: 100%;
    height: 105.4px; 
    
    margin-top: 10px; 
    
    border-radius: 0 0 40px 40px; 
    border: 2px solid #E7DCFF;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    z-index: 1;
}

.image-caption p {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}

.bottom-house {
    position: absolute;
    overflow: hidden;
    max-width: 238px;
    height: 340px;
    bottom: 0;
    right: 0;
    border-radius: 40px;
    border: 2px solid #191A23;
    z-index: 1;
}

.bottom-house img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-card {
    position: absolute;
    top: 7%;
    right: 7%;

    width: 253px;
    background: #ffffff;
    border: 2px solid #191A23;
    border-radius: 32px;
    padding: 16.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    z-index: 10;
    box-sizing: border-box;
}

.profile-card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-card_name {
    font-family: "Syne", sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    color: #191A23;
    line-height: 1.2;
    letter-spacing: -3%;
    margin: 0;
}

.profile-card_role {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #686A79;
    margin: 0;
}

.profile-card_avatar img {
    width: 74px;
    height: 74px;
    border-radius: 10px;
    background-color: #E7DCFF;
    object-fit: cover;
}

.profile-card_socials {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.profile-card_socials span {
    width: 25px;
    height: 25px;
    background: #686A79;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured {
    padding: 80px 10%; 
    width: 100%;
    box-sizing: border-box;
}

.featured-container {
    margin: 0;    
    width: 100%;
    box-sizing: border-box;
}

.featured-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 48px;
    width: 100%;
}

.featured-title {
    font-family: "Syne", sans-serif;
    font-size: 40px; 
    font-weight: 700;
    color: #191A23; 
    margin: 0;
    line-height: 1.1;
    letter-spacing: -0.02em; 
}

.featured_link-all {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #191A23;                
    text-decoration: none;        
    display: flex;
    align-items: center;
    gap: 8px;                    
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.featured_link-all:hover {
    opacity: 0.7;                  
    transform: translateX(4px);    

}

.featured-grid {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr; 
    gap: 40px; 
    width: 100%;
}

.featured-card_large {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #FFFFFF;
    border: 1px solid #E7DCFF; 
    border-radius: 15px;
    margin-left: 10px;      
    max-height: 420px;
}

.featured-image_large {
    position: relative;
}

.featured-image_large img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.badge-large {
    position: absolute;
    top: 32px;
    left: -7px;
    z-index: 5;
}

.card-featured_content {
    padding: 24px 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large-top_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.large-price_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large-price_value {
    font-family: "Syne", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -3%;
    color: #191A23;
    margin: 0;
}

.large-price_duration {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #686A79;
    margin: 0;
}

.agent-info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.large-agent {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    gap: 32px;
}

.large-agent_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.agent-name {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #191A23;
  margin: 0;
}

.agent-role {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #686A79;
}

.agent-img {
  width: 40px;
  height: 40px;
  border-radius: 39px;
  object-fit: cover;
  background-color: #CFB9FD;
}

.large-info {
  gap: 28px;
  flex-direction: vertical;
}

.large-title {
  font-family: "Syne", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -4%;
  color: #191A23;
  margin: 0;
}

.loaction-item {
  display: flex;
  align-items: center; 
  margin-bottom: 16px; 
}

.location-icon {
  display: block;
}

.large-location {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #686A79;
  margin: 0 !important;      
  padding: 0;                
  line-height: 28px;          
}

.large-desc {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #686A79;
  margin: 0;
  line-height: 28px;
}

.large-link {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #191A23;                
  text-decoration: none;        
  display: inline-block;
  line-height: 22px;
  margin-top: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.large-link:hover {
  opacity: 0.7;                  
  transform: translateX(4px);    
}

.large-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  background: #F7F4FF; 
  padding: 24px;
  border-radius: 24px;
  gap: 12px;
  margin-top: 20px;
}


.property-card {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #F7F2FF;    
  padding: 20px;          
  border-radius: 15px;  
  gap: 48px;
  font-family: "Hanken Grotesk", sans-serif; 
  max-width: 596px;             
  margin: 20px auto;           
}

.prop-item {
  display: flex;
  flex-direction: row;      
  gap: 8px;                   
}

.label {
  color: #686A79;               
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;          
}


.content {
  display: flex;
  align-items: center;          
  gap: 8px;                   
}

.icon img {
  width: 24px;                 
  height: 24px;
  display: block;
  object-fit: contain;
}

.value {
  color: #191A23;               
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;             
  white-space: nowrap;
}

.featured-list-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
  max-width: 1262px; 
  margin: 0 auto;
}

.card-small {
  background: #FFFFFF;
  border: 1px solid #E7DCFF;
  border-radius: 15px;
  margin-left: 10px;
  width: auto;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative; 
}

.badge-small {
  position: absolute; 
  top: 174px;          
  left: -8px;         
  z-index: 10;           
}

.badge img {
  height: 32px;       
  width: auto;
  display: block;
}

.image-wrapper {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  z-index: 1;       
}

.image-wrapper img {
  width: 100%;
  max-height: 190px; 
  object-fit: cover;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-small_content {
  background: #fff;
  padding: 24px 32px;
  border-radius: 20px;
  max-width: 366px;
  gap: 16px;
}

.card-small_price {
  font-family: "Syne", sans-serif;
  display: block;
  font-size: 32px;
  font-weight: 600;
  color: #191A23;
  line-height: 40px;
  letter-spacing: -4%;
  margin-bottom: 8px;
}

.card-small_title {
  font-family: "Syne", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #191A23;
  letter-spacing: -4%;
  margin: 0 0 12px 0;
}

.card-small_location {
  font-family: "Hanken Grotesk", sans-serif;
  color: #686A79;
  font-size: 16px;
  margin-bottom: 20px;
}

.divider {
  border: 0;
  border-top: 1px solid #F7F2FF;
  margin-bottom: 16px;
}

.small-property_card {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.prop-item {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.prop-item img {
  width: 20px;
  height: 20px;
}

.prop-item span {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  color: #686A79;
  font-weight: 500;
}

.benefits {
  padding: 80px 10%; 
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.benefits-container { 
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  margin: 0;
}

.benefits-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.benefits-header_title {
  max-width: 450px;
  font-family: "Syne", sans-serif;
  font-size: 48px; 
  font-weight: 600;
  color: #191A23; 
  margin: 0;
  line-height: 1.1;
  letter-spacing: -0.04em; 
  text-align: left;
  flex: 1;
}

.benefits-header_description {
  max-width: 450px;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #686A79;
  margin: 0;
  line-height: 28px;
  text-align: left;
}

.benefits-card_list.swiper {
  width: 100%;
  overflow: visible;
}

.benefits-card.swiper-slide {
  background: #FFFFFF;
  border: 1px solid #191A23; 
  border-radius: 15px;
  padding: 40px;
  height: 352px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-sizing: border-box;
}

.benefits-icon_wrapper {
  width: 90px;
  height: 90px;
  background-color: #E7DCFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.benefits-title {
  font-family: "Syne", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #191A23;
  margin: 0;
  line-height: 32px;
  letter-spacing: -4%;
}

.benefits-text {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #686A79;
  margin: 0;
  line-height: 26px;
}

.benefits-navigation {
  display: none;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  cursor: pointer;
  background-color: #191A23;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev-custom:hover {
  opacity: 0.7;
  transform: translateX(-5px);
}

.swiper-button-next-custom:hover {
  opacity: 0.7;
  transform: translateX(5px);
}

.categories {
  padding: 80px 10%; 
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
}

.categories-container { 
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.categories-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categories-header_title {
  font-family: "Syne", sans-serif;
  font-size: 48px; 
  font-weight: 600;
  color: #191A23; 
  margin: 0;
  line-height: 1.1;
  letter-spacing: -0.04em; 
}

.categories-header_link {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #191A23;                
  text-decoration: none;        
  display: flex;
  align-items: center;
  line-height: 22px;
  gap: 8px;                    
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.categories-header_link:hover {
  opacity: 0.7;                  
  transform: translateX(4px);    
}

.browse-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.categories-card_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-card {
  background: #FFFFFF;
  border: 1px solid #E7DCFF; 
  border-radius: 15px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  box-sizing: border-box;
}

.categories-card_info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.categories-card_icon-wrapper {
  width: 64px;
  height: 64px;
  background-color: #E7DCFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-shrink: 0;
} 

img.categories-card_icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.categories-card_text {
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.categories-card_title {
  font-family: "Syne", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #191A23;
  margin: 0;
  line-height: 32px;
  letter-spacing: -4%;
}

.categories-card_count {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #686A79;
  margin: 0;
  line-height: 28px;
}

.categories-card_action {
  gap: 8px;
  display: flex;
  align-items: center;
}

a.categories-card_link {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191A23;                
  text-decoration: none;        
  display: flex;
  flex-direction: row;
  line-height: 140%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

a.categories-card_link:hover {
  opacity: 0.7;                  
  transform: translateY(-4px);    
}

.categories-card_arrow {
  display: block;
  margin-left: 8px;
}

.cities {
  padding: 80px 10%; 
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
}

.cities-container { 
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.cities-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cities-header_title {
  font-family: "Syne", sans-serif;
  font-size: 48px; 
  font-weight: 600;
  color: #191A23; 
  margin: 0;
  line-height: 1.1;
  letter-spacing: -0.04em; 
}

.cities-header_link {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191A23;                
  text-decoration: none;        
  display: flex;
  align-items: center;
  line-height: 100%;
  gap: 8px;                    
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cities-header_link:hover {
  opacity: 0.7;                  
  transform: translateX(4px);    
}

.cities-card_list.swiper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.cities-card.swiper-slide {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  flex: 1 1 300px;
  border-radius: 15px;
  border: 1px solid #E7DCFF;
  overflow: hidden;
}

img.cities-card_image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.cities-card_text {
  display: flex;
  flex-direction: column; 
  gap: 8px;               
  padding: 24px;          
  align-items: flex-start;
}

.cities-card_name {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -4%;
  color: #191A23;
  margin: 0;
}

.cities-card_count-wrapper {
  display: flex;
  flex-direction: row;     
  align-items: center;  
  gap: 8px;
}

.cities-card_icon {
  width: 24px;
  height: 24px;
}

.cities-card_count {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #686A79;
}

.cities-navigation {
  display: none;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}

.agents {
  padding: 80px 10%; 
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
}

.agents-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.agents-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agents-header_title {
  font-family: "Syne", sans-serif;
  font-size: 48px; 
  font-weight: 600;
  color: #191A23; 
  margin: 0;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.agents-header_link {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191A23;                
  text-decoration: none;        
  display: flex;
  align-items: center;
  line-height: 100%;
  gap: 8px;                    
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.agents-header_link:hover {
  opacity: 0.7;                  
  transform: translateX(4px);   
}

.agents-grid.swiper {
  gap: 40px; 
  width: 100%;
  overflow: hidden;
  position: relative;
}

.agents-grid .swiper-wrapper {
  display: flex;
}

.agents-card.swiper-slide {
  width: auto;
  height: 156px;
  background: #FFFFFF;
  border: 1px solid #E7DCFF;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.agents-info {
  display: flex;
  flex-direction: column; 
  justify-content: center;             
  flex: 1;
  min-width: 0;
  gap: 4px;          
  height: auto;           
  flex-shrink: 0;         
}

.agents-name {
  font-family: "Syne", sans-serif;
  color: #191A23;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0;
}

.agents-role {
  font-family: "Hanken Grotesk", sans-serif;
  color: #686A79;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
}

.agents-socials {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.agents-socials span {
  width: 24px;
  height: 24px;
  background: #191A23;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.agents-socials span:hover {
  opacity: 0.7;
}

.agents-socials span img {
  width: 14px; 
  height: 14px;
  object-fit: contain;
}

.agent-photo img {
  width: 108px;
  height: 108px;
  border-radius: 15px;
  background-color: #FFE1F2;
  object-fit: cover;
}

.agents-navigation {
  display: none;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}

.testimonials {
  padding-top: 80px;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 64px;              
  padding: 80px 0;        
  width: 100%;
  margin: 0 auto;
}

.testimonials-header {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testimonials-header_title {
  font-family: "Syne", sans-serif;
  font-size: 48px; 
  font-weight: 600;
  color: #191A23; 
  margin: 0;
  line-height: 1.1;
  letter-spacing: -0.04em; 
}

.testimonials-container {
  max-width: 1440px; 
  width: 100%;
  margin: 0 auto;
  padding: 64px 140px 32px 140px;
  box-sizing: border-box;
  position: relative;
}

.testimonials-content {
  width: 100%;
}

.testimonialSwiper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  overflow: hidden;
  gap: 24px; 
  justify-content: flex-start;
  align-items: stretch;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

swiper-slide {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.testimonials-card {
  background: #FFFFFF;
  border: 2px solid #F7F2FF; 
  border-radius: 15px;
  padding: 32px;
  gap: 32px;

  width: 100%;
  min-width: 335px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}

.stars img {
  width: 20px;
  height: 20px;
}

.testimonial-text {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: #686A79;
  min-width: 271px;
}

.testimonial-footer {
  min-width: 271px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
}

.user-name {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -4%;
  color: #191A23;
  margin: 0;
}

.user-role {
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #191A23;
  margin: 0;
}

.company-logo {
  width: 40px;
  height: 40px;
}

.testimonial-btn_container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 40px;
}

.testimonial-btn_container button:disabled {
  opacity: 0.5;
}

.arrow-left {
  cursor: pointer;
  background-color: #191A23;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease;
}

.arrow-left:hover {
  background-color: #191A23;
  opacity: 0.5;
  border: 1px solid #191A23;
  transform: translateX(-5px);
}

.arrow-right {
  cursor: pointer;
  background-color: #191A23;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease;
}

.arrow-right:hover {
  background-color: #191A23;
  opacity: 0.5;
  border: 1px solid #191A23;
  transform: translateX(5px);
}

.arrow_right_icon {
  color: #FFFFFF;
}

.cta {
  padding: 80px 140px 0 140px; 
  width: 100%;
  box-sizing: border-box;
}

.cta-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%; 
  
  background-image: url("../assets/cta-pattern.svg"); 
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;

  pointer-events: none;
  z-index: 1; 
}

.cta-card {
    background-color: #C1A5FF;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: left;
    padding: 56px 72px;
    border-radius: 15px;
    border: 2px solid #191A23 ;
}

.cta-content {
  max-width: 416px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}

.cta-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cta-title {
  max-width: 380px;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -4%;
  color: #FFFFFF;
  margin: 0;
}

.cta-description {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #E7DCFF;
}

.cta-newsletter_form {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 8px; 
  border-radius: 14px; 
  border: 1px solid #D6D7E0;
  width: 100%;
}

.newsletter-input {
  flex: 1;
  background: transparent; 
  border: none;
  outline: none;
  padding: 12px 16px;
  
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #191A23;
}

.newsletter-input::placeholder {
  color: #B7B8C1; 
}

.newsletter-btn {
  background-color: #191A23; 
  color: #FFFFFF;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-btn:hover {
  background-color: transparent;
  border: 1px solid #191A23;
  color: #191A23;
  transition: background-color 0.3s ease;
}

footer {
  padding: 64px 140px 32px 140px;
  width: 100%;
  box-sizing: border-box;
}

.footer-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 80px;                  
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 80px;
}

.footer-brand {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-logo_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-logo_container a {
  display: flex;           
  align-items: center;     
  gap: 8px;   
  text-decoration: none;            
}

.footer-logo {
    width: 2.5rem;
    height: auto;
}

.footer-logo_text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #191A23;
    font-family: "Syne", sans-serif;
    text-decoration: none;
    line-height: 1;
    display: flex;
    align-items: center;
}

.footer-description {
  font-family: "Hanken Grotesk";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.footer-socials {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.footer-socials span {
    width: 40px;
    height: 40px;
    background-color: #191A23; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.footer-socials span img {
    width: 15px;
    height: auto;
}

.footer-socials span:hover {
    opacity: 0.8;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-label {
  font-family: "Hanken Grotesk";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #686A79;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 152px); 
  grid-auto-flow: column;
  grid-template-rows: repeat(8, auto);
  gap: 16px 80px; 
}

.grid-container a {
  text-decoration: none;
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #191A23; 
  transition: color 0.3s ease;
}

.grid-container a:hover {
  color: #C1A5FF;
}

.list-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.list-vertical a {
  font-family: "Hanken Grotesk", sans-serif;
  text-decoration: none; 
  font-weight: 500; 
  font-size: 16px;
  line-height: 20px;
  color: #191A23; 
  transition: color 0.3s ease;
}

.list-vertical a:hover {
  color: #C1A5FF; 
}

.footer-bottom {
  width: 100%;
  text-align: center;
}

.footer-divider {
  border: 0;
  border-top: 1px solid #D6D7E0;
  margin-bottom: 32px;
}

.copyright-text {
  font-family: "Hanken Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #868893;
}


/* RESPONSIVE */
@media screen and (max-width: 992px) {
   
    header {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
}

  .logo-container {
    flex-shrink: 0;
    z-index: 1001;
  }

  .logo-img {
    width: 2rem;
  }

  .logo-text {
    font-size: 1.25rem; 
  }
   
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        z-index: 1001;
        flex-shrink: 0;
    }

    .menu-toggle .bar {
        width: 28px;
        height: 2px;
        background: #191A23;
        border-radius: 2px;
    }

    header .contact-btn {
        display: none;
    }

    nav {
    position: fixed;
    top: 0;
    right: -110%; 
    width: 100%;
    max-width: 375px; 
    height: 100vh;
    background: #FBFAFF; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 32px 20px 20px 20px; 
    transition: 0.4s ease-in-out;
    z-index: 9999;
    box-sizing: border-box;
    overflow-y: auto;
}

    nav.active {
        right: 0; 
    }

    .sidebar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px; 
}
    .sidebar-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 20px;
    }

    .sidebar-logo img { width: 30px; }

    .close-menu {
        font-size: 32px;
        cursor: pointer;
        color: #191A23;
        line-height: 1;
    }

    nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0; 
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    margin-bottom: 20px;
}

nav ul li {
    width: 100%;
    border-bottom: 1px solid #F3F0FF; 
    display: flex;
    flex-direction: column;
}

nav ul li a {
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    color: #191A23;
    text-decoration: none;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.dropdown {
        position: relative;
        width: 100%;
    }

.dropdown-content {
    display: none; 
    width: 100%;
    padding: 16px;
    background-color: #F7F2FF;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: static !important;
    z-index: auto;
    box-sizing: border-box;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 4px 8px;
  margin: 0;
}

li.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-grid a {
    padding: 8px 0;
    font-size: 14px;
    color: #191A23;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav ul li a i {
    margin-left: 8px;
    transition: 0.3s;
}

li.dropdown.active > a i {
    transform: rotate(90deg);
}

    .sidebar-footer {
    width: 100%;
    margin-top: auto;
    padding: 16px 0 0 0;
    border-top: 1px solid #F3F0FF; /* Tambah border top */
    flex-shrink: 0;
}

    .contact-btn-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px; 
    border: 1.5px solid #191A23;
    border-radius: 12px;
    background-color: transparent;
    color: #191A23;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .hero {
        flex-direction: column; 
        padding: 120px 5%;
        text-align: left;
        gap: 40px;
        min-height: auto;
    }

    .hero::before {
        background-size: 100%; 
        background-position: center bottom;
    }

    .hero-left-content {
        max-width: 100%;
        gap: 32px;
        padding: 0;
    }

    .hero-text {
      padding: 0;
      width: 100%;
    }
 
    .hero-text h1 {
        font-size: 40px; 
        line-height: 1.2;
        max-width: 100%;
    }

    .hero-text p {
        font-size: 16px;
        line-height: 1.5;
        width: 100%; 
    }

    .search-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 20px;
    }

    .search-item {
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #EEEBFF;
    }

    .search-item:last-of-type {
        border-bottom: none;
    }

    .search-icon {
        flex-shrink: 0;
    }

    .browse-btn {
        width: 100%;
        padding: 16px;
    }

    .hero-right-content {
        width: 100%;
        height: 350px; 
        flex-basis: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-house_wrapper {
        left: 0;
        max-width: 161px;
    }

    .top-house_image {
        height: 172px;
    }

    .image-caption {
        padding: 12px;
        height: auto;
    }

    .image-caption p {
      font-size: 10px;
    }

    .bottom-house {
        right: 0;
        max-width: 161px;
        height: 250px;
        top: 50%;
    }

    .profile-card {
        width: 164px;
        padding: 12px;
        top: 20%; 
        right: 0;
        left: 40%;
    }

    .profile-card_avatar img {
        width: 48px;
        height: 48px;
    }

    .profile-card_info {
      gap: 2px;
    }

    .profile-card_name {
      font-size: 12px;
      margin: 0;
    }

    .profile-card_role {
      font-size: 8px;
    }

    .profile-card_socials span {
      width: 10px;
      height: 10px;
      padding: 2px;
    }

    .featured {
        padding: 64px 4%; 
    }

    .featured-header {
        flex-direction: column; 
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 32px;
    }

    .featured-title {
        font-size: 32px; 
    }

    .featured-card_large {
        justify-content: center;
        grid-template-columns: 1fr;
        max-height: none; 
        margin: 0;
    }

    .featured-image_large img {
        border-radius: 15px 15px 0 0; 
        max-height: 300px;
    }

    .badge-large {
        top: 20px; 
    }

    .large-price_name {
        flex-direction: column; 
        align-items: flex-start;
        gap: 20px;
    }

    .large-title {
      font-size: 24px;
    }

    .large-location {
      font-size: 14px;
    }

    .large-desc {
      font-size: 16px;
    }

    .large-link {
      font-size: 16px;
    }

    .property-card {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);   
        gap: 20px;                      
        max-width: 100%;
        padding: 20px;
    }

    .property-item {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        gap: 8px;
        width: 100%;
    }

    .property-item .content {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .featured-list-small {
        grid-template-columns: 1fr; 
        gap: 24px;
    }

    .card-small {
        max-height: none;
        margin: 0;
    }

    .badge-small {
        top: 160px;
    }

    .small-property_card {
        flex-wrap: wrap; 
        gap: 12px;
    }

    .card-small_content {
        padding: 20px;
        max-width: 100%;
    }
    
    .card-small_price {
        font-size: 28px;
    }

    .benefits {
    padding: 64px 5%;
  }

  .benefits-container {
    gap: 40px; 
  }

  .benefits-header {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .benefits-header_title {
    font-size: 32px;
    max-width: 100%;
  }

  .benefits-header_description {
    max-width: 100%;
  }

  .benefits-card_list.swiper {
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  .benefits-card.swiper-slide {
    max-height: 316px;
    padding: 24px;
    gap: 40px; 
  }

  .benefits-content {
    max-width: 100%;
  }

  .benefits-navigation {
    display: flex !important;
  }

  .categories {
    padding: 64px 5%;
  }

  .categories-container {
    gap: 32px;
  }

  .categories-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .categories-header_title {
    font-size: 32px;
    text-align: left;
  }

  .categories-header_link {
    font-size: 18px;
    align-items: flex-start;
  }

  .categories-card_list {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 16px;
    flex-wrap: nowrap;
  }

  .categories-card {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 16px;
    box-sizing: border-box;
  }

  .categories-card_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex: 1;
  }
  
  .categories-card_title {
    font-size: 20px;
  }

  .categories-card_count {
    font-size: 18px;
  }

  .categories-card_link {
    font-size: 16px;
  }

  .cities {
    padding: 64px 5%;
  }

  .cities-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .cities-header_title {
    font-size: 32px;
  }

  .cities-container {
    gap: 32px;
  }

   .cities-card_list.swiper {
    display: block;
    width: 100%;
  }

  .swiper-wrapper {
    display: flex;
  }

  .cities-card.swiper-slide {
    width: 100%;
    flex: none;
  }

  .cities-card_image {
    height: 260px;
    object-fit: cover;
  }

  .cities-card_text {
    padding: 20px;
  }

  .cities-card_name {
    font-size: 20px;
    line-height: 28px;
  }

  .cities-card_count {
    font-size: 16px;
  }

  .cities-navigation {
    display: flex !important;
  }

  .agents {
    padding: 64px 5%; 
  }

  .agents-container {
    gap: 32px;
  }

  .agents-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .agents-header_title {
    font-size: 32px;
  }

  .agents-grid.swiper {
    display: block !important; 
    overflow: hidden; 
    width: 100%;
    padding: 0; 
  }

  .swiper-wrapper {
    display: flex !important; 
    width: 100%;
  }

  .agents-card.swiper-slide {
    width: 100%; 
    height: auto;
    min-height: 156px; 
    flex-shrink: 0;
    padding: 16px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px; 
    box-sizing: border-box;
  }

  .agents-info {
    flex: 1;
    gap: 4px;
    min-width: 0;
  }

  .agents-name {
    font-size: 20px; 
    line-height: 28px;
    letter-spacing: -0.04em;
    margin: 0;
  }

  .agents-role {
    font-size: 14px; 
    line-height: 20px;
    color: #686A79;
    margin: 0 0 8px 0;
  }

  .agents-socials {
    gap: 8px; 
    margin-top: 8px;
  }

  .agents-socials span {
    width: 28px;
    height: 28px;
  }

  .agents-socials span img {
    width: 12px;
    height: 12px;
  }

  .agent-photo {
    flex-shrink: 0;
  }

  .agent-photo img {
    width: 80px; 
    height: 80px;
    border-radius: 12px;
  }

  .agents-navigation {
    display: flex !important;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;
    padding: 0 20px; 
  }

  .testimonials {
    padding: 64px 5%;
    overflow: hidden;
  }

  .testimonials-wrapper {
    gap: 48px;
    padding: 0;
  }

  .testimonials-header {
    width: 100%;
    padding: 0;
  }

  .testimonials-header_title {
    font-size: 32px;
    text-align: left;
  }

  .testimonials-container {
    padding: 0;
    width: 100%;
    overflow: visible;
  }

  .testimonials-content {
    width: 100%;
    overflow: visible;
  }

  .testimonialSwiper {
    padding: 0;
    overflow: visible;
  }

  swiper-slide {
    width: 100% !important;
    height: auto;
  }

  .testimonials-card {
    width: 100%;
    min-width: auto;
    padding: 64px 20px;
    gap: 8px;
    height: auto;
    box-sizing: border-box;
  }

  .stars {
    margin-bottom: 32px;
    justify-content: flex-start;
  }

  .stars img {
    width: 24px;
    height: 24px;
  }

  .testimonial-text {
    font-size: 18px;
    line-height: 28px;
    min-width: auto;
    width: 100%;
  }

  .testimonial-footer {
    min-width: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
  }

  .user-name {
    font-size: 20px;
    line-height: 28px;
  }

  .user-role {
    font-size: 16px;
    line-height: 24px;
  }

  .company-logo {
    width: 32px;
    height: 32px;
  }

  .testimonial-btn_container {
    margin-top: 48px;
    gap: 16px;
    justify-content: center;
  }

  .arrow-left,
  .arrow-right {
    padding: 16px;
    border-radius: 15px;
  }

  .arrow-left img,
  .arrow-right img {
    width: 24px;
    height: 24px;
  }

  .cta {
    padding: 64px 5% 0 5%;
  }

  .cta-card {
    padding: 24px;
    max-width: 335px;
    height: 540px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #191A23;
    position: relative;
    overflow: hidden;
  }

  .cta-card::before {
    width: 100%;
    height: 50%;
    bottom: 0;
    top: auto;
    background-size: cover;
    background-position: center bottom;
  }

  .cta-content {
    max-width: 100%;
    gap: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cta-text {
    gap: 8px;
  }

  .cta-title {
    font-size: 28px;
    line-height: 40px;
    max-width: 100%;
  }

  .cta-description {
    font-size: 18px;
    line-height: 26px;
  }

  .cta-newsletter_form {
    flex-direction: column;
    padding: 0;
    background: transparent;
    border: none;
    gap: 16px;
    margin-bottom: 1200px;
  }

  .newsletter-input {
    width: 100%;
    padding: 16px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 1px solid #D6D7E0;
    font-size: 16px;
    box-sizing: border-box;
  }

  .newsletter-btn {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  footer {
    padding: 64px 5% 32px 5%;
  }

  .footer-wrapper {
    gap: 8px;
    align-items: flex-start; 
  }

  .footer-content {
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;
  }

  .footer-brand {
    max-width: 100%;
    gap: 24px;
  }

  .footer-links {
    flex-direction: column; 
    gap: 48px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr; 
    grid-auto-flow: row;
    grid-template-rows: unset; 
    gap: 16px 20px; 
  }

  .footer-label {
    margin-bottom: -16px; 
  }

  .footer-bottom {
    text-align: center; 
  }
}


/* Desktop Reset */
@media screen and (min-width: 993px) {
    .menu-toggle, .sidebar-header, .sidebar-footer {
    display: none; 
}
   
    nav {
        position: static;
        height: auto;
        width: auto;
        background: transparent;
        display: flex;
        right: auto;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        padding: 32px;
        border-radius: 24px;
        box-shadow: 24px 28px 92px 0px rgba(54, 17, 102, 0.12);
        z-index: 999;
        margin-top: 15px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .arrow-icon {
        transform: rotate(180deg);
    }

  .benefits-navigation {
    display: none !important;
  }

  .agents-grid.swiper {
    overflow: visible; 
  }

  .agents-grid .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px 40px; 
    transform: none !important; 
    width: 100% !important;
  }

  .agents-card.swiper-slide {
    width: 100% !important; 
    margin: 0 !important;
    height: 156px;
  }

  .agents-navigation {
    display: none !important;
  }
}


@media (max-width: 768px) {
  .featured-card_large {
    grid-template-columns: 1fr; 
  }
  .featured-list-small {
    grid-template-columns: 1fr; 
  }
}